<html lang="en" >
    <head>
        <meta charset="utf-8" />
        <title>Pure HTML5 file upload | Script Tutorials</title>
          <link rel="stylesheet" href="mystyle.css">
        <script src="script.js"></script>
    </head>
<body>
        <header>
            <h2>Pure HTML5 file upload</h2>
        </header>
        <div class="container">
            <div class="contr"><h2>You can select the file (image) and click Upload button</h2></div>

            <div class="upload_form_cont">
                <form id="upload_form" enctype="multipart/form-data" method="post" action="convert_image">
                    <div>
                        <div><label for="file">Please select image file</label></div>
                        <div class="file"><input type="file" name="file" id="file" onchange="fileSelected();" /></div>
                        <div class="language" ><label for="language">Please select source language</label></div>
                        <div><select name="s_lang">
                            <option value="en"> Default language (en) </option>
                            <option value="ar">Arabic</option>
                            <option value="bg">Bulgrian</option>
                            <option value="hr">Croatian</option>
                            <option value="da">Danish</option>
                            <option value="en">English</option>
                            <option value="fi">Finland</option>  
                            <option value="fr">French</option>
                            <option value="de">German</option>
                            <option value="el">Greek</option>
                            <option value="hu">Hungherian</option>
                            <option value="ko">korean</option>
                            <option value="it">Italian</option>
                            <option value="jp">Japan</option>
                            <option value="nl">Nederlands</option>
                            <option value="no">Norvegian</option>
                            <option value="pl">Polish</option>
                            <option value="pt">Portuguese</option>
                            <option value="ru">Russian</option>
                            <option value="sl">Slovenian</option>
                            <option value="es">Spanish</option>
                            <option value="tr">Turkish</option>
                        </select></div>
                        <div class=language><label for="language">Please select destination language</label></div>
                        <div><select name="d_lang">
                            <option value="en"> Default language (en) </option>
                            <option value="ar">Arabic</option>
                            <option value="bg">Bulgrian</option>
                            <option value="hr">Croatian</option>
                            <option value="da">Danish</option>
                            <option value="en">English</option>
                            <option value="fi">Finland</option>  
                            <option value="fr">French</option>
                            <option value="de">German</option>
                            <option value="el">Greek</option>
                            <option value="hu">Hungherian</option>
                            <option value="ko">korean</option>
                            <option value="it">Italian</option>
                            <option value="jp">Japan</option>
                            <option value="nl">Nederlands</option>
                            <option value="no">Norvegian</option>
                            <option value="pl">Polish</option>
                            <option value="pt">Portuguese</option>
                            <option value="ru">Russian</option>
                            <option value="sl">Slovenian</option>
                            <option value="es">Spanish</option>
                            <option value="tr">Turkish</option>
                        </select></div>
                    </div>
                    <div>
                        <input type="button" value="Upload" onclick="startUploading()" />
                    </div>
                    <div id="fileinfo">
                        <div id="filename"></div>
                        <div id="filesize"></div>
                        <div id="filetype"></div>
                        <div id="filedim"></div>
                    </div>
                    <div id="error">You should select valid image files only!</div>
                    <div id="error2">An error occurred while uploading the file</div>
                    <div id="abort">The upload has been canceled by the user or the browser dropped the connection</div>
                    <div id="warnsize">Your file is very big. We can't accept it. Please select more small file</div>

                    <div id="progress_info">
                        <div id="progress"></div>
                        <div id="progress_percent">&nbsp;</div>
                        <div class="clear_both"></div>
                        <div>
                            <div id="speed">&nbsp;</div>
                            <div id="remaining">&nbsp;</div>
                            <div id="b_transfered">&nbsp;</div>
                            <div class="clear_both"></div>
                        </div>
                        <div id="convertion_response"></div>
                        <div id="upload_response"></div> 
                    </div>
                </form>
                <img id="preview" />
            </div>
        </div>
    </body>
</html>